<?xml version="1.0" encoding="UTF-8"?>
<widget id="A6160507326952" security="false" version="0.0.1">
  <name>多多影视</name>
  <description>Example For APICloud.</description>
  <author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appCertificateVerify" value="false"/>
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
  <preference name="hScrollBarEnabled" value="false"/>
  <preference name="vScrollBarEnabled" value="false"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="true"/>
  <preference name="debug" value="false"/>
  <preference name="customRefreshHeader" value="UIPullRefreshFlash"/>
  <preference name="statusBarAppearance" value="true"/>
  <permission name="readPhoneState"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/> 
  <permission name="bootCompleted"/>
  <permission name="hardware"/> 
	<preference name="forbiddenSchemes" value="^weixin://,^alipays://,^alipay://,^mqq://,^wechat://,^http://,^https://,^mqqwpaopenid://,^mqqwpa://,^mqqapi://,^mqqbrowser://,^browser://,^mttbrowser://,^﻿webBrowser//" />
  <feature name="wx">
   <param name="urlScheme" value="wx01cdd139edbd5302"/>
   <param name="apiKey" value="wx01cdd139edbd5302"/><preference name="autoUpdate" value="true" />
   <param name="apiSecret" value="21ca3110a227fabe5cd7430833d9cf59"/> 
 </feature>
</widget>
